<div style="width: 100%;">
    <nav class="navbar navbar-inverse" style="background-color: rgb(239, 241, 245)">
        
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">Cubic Technologies</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="dropdown"><a href="#" data-toggle="dropdown">Courses <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    <li><a routerLink="/employees">Core Java</a></li>
                    <li><a routerLink="/employees">UI</a></li>
                    <li><a routerLink="/employees">Adv Java</a></li>
                </ul>
                </li>
                    <li><a href="/employees">Employees</a></li>
                    <li><a href="#">Consultants</a></li>
                    <li><a href="#">Clients</a></li>
                    <li><a href="#">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> SignUp</a></li>
                    <li><button type="button" class="btn navbar-btn" data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-log-in"></span> Login</button></li>
                </ul>
            </div>
    </nav>


    <div class="modal fade" id="myModal2" role="dialog">
            <div class="modal-dialog">
        
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                  <form role="form">
                    <div class="form-group">
                      <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
                      <input type="text" class="form-control" id="usrname" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                      <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                      <input type="text" class="form-control" id="psw" placeholder="Enter password">
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" value="" checked>Remember me</label>
                    </div>
                    <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                  <p>Not a member? <a href="#">Sign Up</a></p>
                  <p>Forgot <a href="#">Password?</a></p>
                </div>
              </div>
        
            </div>
          </div>


  </div> 
  <div class="container">
    <app-employees></app-employees>
  </div>





